name: publish

on:
  push:
    branches:
      - main  # Adjust the branch name as needed

jobs:
  publish-hello-docker-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: docker.pkg.github.com
          username: ${{ github.actor }}
          password: ${{ secrets.TOKEN }}

      - name: Build and push Docker image
        run: |
          docker build . --tag ghcr.io/00accont/hello-docker-gcr-demo:latest
          docker push ghcr.io/00accont/hello-docker-gcr-demo:latest
